
/*********************
BREAKPOINTS
*********************/

$brkpt-small : 650px;
$brkpt-medium : 1020px;

$black : rgb(45,45,50);

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

h1 {
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0px; 
}



ul {
	padding: 0px;
	margin: 0px;
}